@import "tailwindcss";

@theme {
  --color-neon-cyan: #00f2fe;
  --color-neon-purple: #4facfe;
  --color-dark-bg: #030303;
  --font-space: "Space Grotesk", sans-serif;
}

@layer base {
  body {
    @apply bg-(--color-dark-bg) text-slate-100 antialiased selection:bg-neon-cyan/30;
    font-family: var(--font-space);
    overflow-x: hidden;
    cursor: none; 
  }
}

@utility glass-panel {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
}

@utility text-glow {
  text-shadow: 0 0 15px rgba(0, 242, 254, 0.5);
}

/* Custom Scrollbar for OS feel */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-neon-cyan);
  border-radius: 10px;
}